
@media screen and (max-width: 1600px) and (orientation: landscape) {
    p{
        font-size: small;
        background-color: blue; /* ordinateur*/
    }
 }

 @media screen and (max-width: 768px) and (orientation: portrait) {
    p{
        font-size: medium;
        background-color: green; /*tablette*/
    }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    p{
        font-size: large;
        background-color: yellow; /*portable*/
    }
}